version: '3.9'

networks:
  monitoring:
    driver: bridge

volumes:
  prometheus_data: {}

services:
  agent:
    build:
      context: ../../
      dockerfile: ./scripts/docker/nginx-oss/ubuntu/Dockerfile
      args:
        PACKAGE: nginx-agent
        BASE_IMAGE: ${BASE_IMAGE}
        AGENT_CONF: "./examples/grafana-metrics/nginx-agent.conf"
        NGINX_CONF: "./examples/grafana-metrics/nginx.conf"
        ENTRY_POINT: "./scripts/docker/nginx-oss/entrypoint.sh"
    ports:
      - 8080:8080
      - 8081:8081
    networks:
      - monitoring
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    ports:
      - 9090:9090
    networks:
      - monitoring
  grafana:
    image: grafana/grafana-oss:latest
    volumes:
      - ./grafana-datasources.yml:/etc/grafana/provisioning/datasources/grafana-datasources.yml
      - ./grafana-dashboards.yml:/etc/grafana/provisioning/dashboards/grafana-dashboards.yml
      - ./nginx-agent-dashboard.json:/var/lib/grafana/dashboards/nginx-agent-dashboard.json
    ports:
      - 3000:3000
    networks:
      - monitoring
