# EditorConfig is awesome: https://EditorConfig.org
# top-most EditorConfig file; https://editorconfig.org/
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

[{Makefile,go.mod,go.sum,*.go,.gitmodules,Makefile.packaging,Makefile.containers}]
indent_style = tab
indent_size = 4

[*.md]
indent_size = 4
trim_trailing_whitespace = false

eclint_indent_style = unset

[Dockerfile]
indent_size = 4

[*.conf]
indent_size = 4
indent_style = space
trim_trailing_whitespace = false

# Ignore paths
[/vendor/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
