receivers:
{{- if ne .Receivers.ContainerMetrics nil }}
  containermetrics:
    {{- if .Receivers.ContainerMetrics.CollectionInterval }}
    collection_interval: {{ .Receivers.ContainerMetrics.CollectionInterval }}
    {{- end}}
{{- end }}

{{- if ne .Receivers.HostMetrics nil }}
  hostmetrics:
    {{- if .Receivers.HostMetrics.CollectionInterval }}
    collection_interval: {{ .Receivers.HostMetrics.CollectionInterval }}
    {{- end}}
    {{- if .Receivers.HostMetrics.InitialDelay }}
    initial_delay: {{ .Receivers.HostMetrics.InitialDelay }}
    {{- end}}
    scrapers:
      {{- if .Receivers.HostMetrics.Scrapers }}
      {{- if .Receivers.HostMetrics.Scrapers.CPU }}
      cpu:
        metrics:
          system.cpu.utilization:
            enabled: true
          system.cpu.logical.count:
            enabled: true
      {{- end }}
      {{- if .Receivers.HostMetrics.Scrapers.Disk }}
      disk:
      {{- end }}
      {{- if .Receivers.HostMetrics.Scrapers.Filesystem }}
      filesystem:
      {{- end }}
      {{- if .Receivers.HostMetrics.Scrapers.Memory }}
      memory:
        metrics:
          system.memory.limit:
            enabled: true
      {{- end }}
      {{- if .Receivers.HostMetrics.Scrapers.Network }}
      network:
      {{- end }}
      {{- end }}
{{- end }}

{{- range $index, $otlpReceiver := .Receivers.OtlpReceivers }}
  otlp/{{$index}}:
    protocols:
      {{- if eq .Server.Type "http" }}
      http:
        endpoint: "{{- .Server.Host -}}:{{- .Server.Port -}}"
        {{- if .OtlpTLSConfig }}
        tls:
          {{ if gt (len .OtlpTLSConfig.Cert) 0 -}}
          cert_file: {{ .OtlpTLSConfig.Cert }}
          {{- end }}
          {{ if gt (len .OtlpTLSConfig.Key) 0 -}}
          key_file: {{ .OtlpTLSConfig.Key }}
          {{- end }}
          {{ if gt (len .OtlpTLSConfig.Ca) 0 -}}
          ca_file: {{ .OtlpTLSConfig.Ca }}
          {{- end }}
        {{- end }}
      {{- else }}
      grpc:
        endpoint: "{{ .Server.Host }}:{{ .Server.Port }}"
        {{- if and .OtlpTLSConfig (or (gt (len .OtlpTLSConfig.Key) 0) (gt (len .OtlpTLSConfig.Cert) 0) (gt (len .OtlpTLSConfig.Key) 0)) }}
        tls:
          {{ if gt (len .OtlpTLSConfig.Cert) 0 -}}
          cert_file: {{ .OtlpTLSConfig.Cert }}
          {{- end }}
          {{ if gt (len .OtlpTLSConfig.Key) 0 -}}
          key_file: {{ .OtlpTLSConfig.Key }}
          {{- end }}
          {{ if gt (len .OtlpTLSConfig.Ca) 0 -}}
          ca_file: {{ .OtlpTLSConfig.Ca }}
          {{- end }}
        {{- end }}
      {{- end }}
{{- end }}

{{- range .Receivers.NginxReceivers }}
  nginx/{{- .InstanceID -}}:
    api_details:
      url: "{{- .StubStatus.URL -}}"
      listen: "{{- .StubStatus.Listen -}}"
      location: "{{- .StubStatus.Location -}}"
      ca: "{{- .StubStatus.Ca -}}"
    {{- if .CollectionInterval }}
    collection_interval: {{ .CollectionInterval }}
    {{- end }}
    {{- if gt (len .AccessLogs) 0 }}
    access_logs:
    {{- range .AccessLogs }}
      - log_format: "{{- .LogFormat -}}"
        file_path: "{{- .FilePath -}}"
    {{- end }}
    {{- end }}
{{- end }}

{{- range .Receivers.NginxPlusReceivers }}
  nginxplus/{{- .InstanceID -}}:
    api_details:
        url: "{{- .PlusAPI.URL -}}"
        listen: "{{- .PlusAPI.Listen -}}"
        location: "{{- .PlusAPI.Location -}}"
        ca: "{{- .PlusAPI.Ca -}}"
    {{- if .CollectionInterval }}
    collection_interval: {{ .CollectionInterval }}
    {{- end }}
{{- end }}

{{- range $index, $tcplogReceiver := .Receivers.TcplogReceivers }}
  tcplog/{{$index}}:
    listen_address: "{{- .ListenAddress -}}"
    operators:
{{- range $index, $operator := .Operators }}
      - type: {{.Type}}
{{- range $key, $value := .Fields }}
        {{$key}}: {{$value}}
{{- end }}
{{- end }}
{{- end }}

processors:
{{- if ne .Processors.Resource nil }}
  {{- range $key, $resource := .Processors.Resource }}
    {{- if $resource.Attributes }}
  resource/{{$key}}:
    attributes:
      {{- range $resource.Attributes }}
      - key: {{ .Key }}
        action: {{ .Action }}
        value: {{ .Value }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
{{- if ne .Processors.Attribute nil }}
  {{- range $key, $attribute := .Processors.Attribute }}
    {{- if $attribute.Actions }}
  attributes/{{$key}}:
    actions:
      {{- range $attribute.Actions }}
      - key: {{ .Key }}
        action: {{ .Action }}
        value: {{ .Value }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
{{- if ne .Processors.Batch nil }}
  {{- range $key, $batch := .Processors.Batch }}
  batch/{{$key}}:
    send_batch_size: {{ $batch.SendBatchSize }}
    timeout: {{ $batch.Timeout }}
    send_batch_max_size: {{ $batch.SendBatchMaxSize }}
{{- end }}
{{- end }}
{{- if ne .Processors.LogsGzip nil }}
{{ range $key, $value := .Processors.LogsGzip }}
  logsgzip/{{$key}}: {}
{{- end }}
{{- end }}

exporters:
{{- range $index, $otlpExporter := .Exporters.OtlpExporters }}
  otlp/{{$index}}:
    endpoint: "{{ .Server.Host -}}:{{- .Server.Port }}"
    {{- if .Compression }}
    compression: {{ .Compression }}
    {{- end }}
    timeout: 10s
    retry_on_failure:
      enabled: true
      initial_interval: 10s
      max_interval: 60s
      max_elapsed_time: 10m
    tls:
      insecure: {{ if .TLS -}}false{{ else -}}true{{- end }}
      {{- if .TLS }}
      insecure_skip_verify: {{ .TLS.SkipVerify }}
      {{ if gt (len .TLS.Ca) 0 -}}ca_file: "{{- .TLS.Ca -}}"{{- end }}
      {{ if gt (len .TLS.Cert) 0 -}}cert_file: "{{- .TLS.Cert -}}"{{- end }}
      {{ if gt (len .TLS.Key) 0 -}}key_file: "{{- .TLS.Key -}}"{{- end }}
      {{ if gt (len .TLS.ServerName) 0 -}}server_name_override: "{{- .TLS.ServerName -}}"{{- end }}
      {{- end }}
    {{- if .Authenticator }}
    auth:
      authenticator: {{ .Authenticator -}}
    {{- end }} 
{{- end }}

{{- if ne .Exporters.PrometheusExporter nil }}
  prometheus:
    endpoint: "{{ .Exporters.PrometheusExporter.Server.Host -}}:{{- .Exporters.PrometheusExporter.Server.Port }}"
    resource_to_telemetry_conversion:
      enabled: true
{{- end }}
{{- if ne .Exporters.Debug nil }}
  debug:
    verbosity: detailed
    sampling_initial: 5
    sampling_thereafter: 200
{{- end }}

{{- if ne .Extensions nil }}
extensions:
  {{- if ne .Extensions.Health nil }}
  health_check:
    endpoint: "{{ .Extensions.Health.Server.Host -}}:{{- .Extensions.Health.Server.Port }}"
    {{- if ne .Extensions.Health.Path "" }}
    path: "{{ .Extensions.Health.Path -}}"
    {{- end }}
    {{- if ne .Extensions.Health.TLS nil }}
    tls: 
       ca_cert: "{{ .Extensions.Health.Server.TLS.Ca -}}"
       cert_file: "{{ .Extensions.Health.Server.TLS.Cert -}}"
       key_file: "{{ .Extensions.Health.Server.TLS.Key -}}"
    {{- end }}
  {{- end }}
  
  {{- if ne .Extensions.HeadersSetter nil }}
  headers_setter:
    headers:
    {{- range $index, $header := .Extensions.HeadersSetter.Headers }}
      - action: "{{ .Action -}}"
        key: "{{ .Key -}}"
        {{- if .Value }}
        value: "{{ .Value -}}"
        {{- end }}
        {{- if .DefaultValue }}
        default_value: "{{ .DefaultValue -}}"
        {{- end }}
        {{- if .FromContext }}
        from_context: "{{ .FromContext -}}"
        {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

service:
  telemetry:
    metrics:
      level: none
  {{- if .Log.Path}}
    logs:
      level: {{ .Log.Level }}
      output_paths: ["{{ .Log.Path -}}"]
      error_output_paths: ["{{ .Log.Path -}}"]
  {{- end}}
  
  {{- if ne .Extensions nil }}
  extensions:
    {{- if ne .Extensions.Health nil }}
    - health_check
    {{- end}}
    {{- if ne .Extensions.HeadersSetter nil }}
    - headers_setter
    {{- end}}
  {{- end}}

  pipelines:
    {{- range $pipelineName, $pipeline := .Pipelines.Metrics }}
      {{- if or (ne $.Receivers.HostMetrics nil) (ne $.Receivers.ContainerMetrics nil) (gt (len $.Receivers.OtlpReceivers) 0) (gt (len $.Receivers.NginxReceivers) 0) (gt (len $.Receivers.NginxPlusReceivers) 0) }}
    metrics/{{$pipelineName}}:
      receivers:
        {{- range $receiver := $pipeline.Receivers }}
          {{- if eq $receiver "host_metrics" }}
            {{- if ne $.Receivers.ContainerMetrics nil }}
        - containermetrics
            {{- end }}
            {{- if ne $.Receivers.HostMetrics nil }}
        - hostmetrics
            {{- end }}
          {{- else if eq $receiver "nginx_metrics" }}
            {{- range $.Receivers.NginxReceivers }}
        - nginx/{{- .InstanceID -}}
            {{- end }}
            {{- range $.Receivers.NginxPlusReceivers }}
        - nginxplus/{{- .InstanceID -}}
            {{- end }}
          {{- else }}
        - {{ $receiver }}
          {{- end }}
        {{- end }}
      processors:
        {{- range $pipeline.Processors }}
        - {{ . }}
        {{- end }}
      exporters:
        {{- range $pipeline.Exporters }}
        - {{ . }}
        {{- end }}   
      {{- end }}
    {{- end }}
    {{- range $pipelineName, $pipeline := .Pipelines.Logs }}
      {{- if gt (len $.Receivers.TcplogReceivers) 0 }}
    logs/{{$pipelineName}}:
      receivers:
        {{- range $receiver := $pipeline.Receivers }}
          {{- if eq $receiver "tcplog/nginx_app_protect" }}
        - tcplog/nginx_app_protect
          {{- else }}
        - {{ $receiver }}
          {{- end }}
        {{- end }}
      processors:
        {{- range $pipeline.Processors }}
        - {{ . }}
        {{- end }}
      exporters:
        {{- range $pipeline.Exporters }}
        - {{ . }}
        {{- end }}
    {{- end }}
  {{- end }}
