policy_module(nginx_agent, 1.0.0)

########################################
#
# Declarations
#

type nginx_agent_t;
type nginx_agent_exec_t;
init_daemon_domain(nginx_agent_t, nginx_agent_exec_t)

permissive nginx_agent_t;

########################################
#
# nginx_agent local policy
#
allow nginx_agent_t self:fifo_file rw_fifo_file_perms;
allow nginx_agent_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(nginx_agent_t)

files_read_etc_files(nginx_agent_t)

miscfiles_read_localization(nginx_agent_t)

require {
	type system_dbusd_t;
	type nginx_agent_t;
	type tuned_t;
	type rpcbind_t;
	type var_run_t;
	type unconfined_t;
	type systemd_logind_t;
	type policykit_t;
	type irqbalance_t;
	type httpd_exec_t;
	type rhsmcertd_t;
	class capability sys_ptrace;
	class tcp_socket { connect create getattr getopt setopt };
	class netlink_route_socket { bind create getattr nlmsg_read };
	class dir { getattr search };
	class file { getattr map open read };
	class sock_file { create setattr unlink };
}

#============= nginx_agent_t ==============

#!!!! This avc can be allowed using the boolean 'domain_can_mmap_files'
allow nginx_agent_t httpd_exec_t:file map;
allow nginx_agent_t irqbalance_t:dir { getattr search };
allow nginx_agent_t irqbalance_t:file { getattr open read };
allow nginx_agent_t policykit_t:dir { getattr search };
allow nginx_agent_t policykit_t:file { getattr open read };
allow nginx_agent_t rhsmcertd_t:dir { getattr search };
allow nginx_agent_t rhsmcertd_t:file { getattr open read };
allow nginx_agent_t rpcbind_t:dir { getattr search };
allow nginx_agent_t rpcbind_t:file { getattr open read };
allow nginx_agent_t self:capability sys_ptrace;
allow nginx_agent_t self:netlink_route_socket { bind create getattr nlmsg_read };
allow nginx_agent_t self:tcp_socket { connect create getattr getopt setopt };
allow nginx_agent_t system_dbusd_t:dir { getattr search };
allow nginx_agent_t system_dbusd_t:file { getattr open read };
allow nginx_agent_t systemd_logind_t:dir { getattr search };
allow nginx_agent_t systemd_logind_t:file { getattr open read };
allow nginx_agent_t tuned_t:dir { getattr search };
allow nginx_agent_t tuned_t:file { getattr open read };
allow nginx_agent_t unconfined_t:dir { getattr search };
allow nginx_agent_t unconfined_t:file { getattr open read };
allow nginx_agent_t var_run_t:sock_file { create setattr unlink };
NetworkManager_read_state(nginx_agent_t)
apache_exec(nginx_agent_t)
apache_read_config(nginx_agent_t)
apache_read_log(nginx_agent_t)
apache_systemctl(nginx_agent_t)
auth_read_passwd_file(nginx_agent_t)
chronyd_systemctl(nginx_agent_t)
corecmd_exec_bin(nginx_agent_t)
corecmd_mmap_bin_files(nginx_agent_t)
corenet_tcp_connect_http_port(nginx_agent_t)
cron_read_state_crond(nginx_agent_t)
dev_list_sysfs(nginx_agent_t)
dev_read_sysfs(nginx_agent_t)
files_read_var_lib_files(nginx_agent_t)
files_rw_pid_dirs(nginx_agent_t)
getty_systemctl(nginx_agent_t)
gssproxy_systemctl(nginx_agent_t)
init_read_state(nginx_agent_t)
kernel_list_proc(nginx_agent_t)
kernel_read_net_sysctls(nginx_agent_t)
kernel_read_network_state(nginx_agent_t)
kernel_read_proc_files(nginx_agent_t)
kernel_read_state(nginx_agent_t)
kernel_search_network_sysctl(nginx_agent_t)
logging_create_generic_logs(nginx_agent_t)
logging_systemctl_audit(nginx_agent_t)
logging_systemctl_syslogd(nginx_agent_t)
ssh_systemctl(nginx_agent_t)
udev_read_state(nginx_agent_t)

require {
	type nginx_agent_t;
	type systemd_logind_t;
	class file { getattr open read };
	class capability dac_read_search;
}

#============= nginx_agent_t ==============
allow nginx_agent_t self:capability dac_read_search;

#!!!! This avc is allowed in the current policy
allow nginx_agent_t systemd_logind_t:file { getattr open read };
files_manage_generic_tmp_files(nginx_agent_t)
fs_getattr_xattr_fs(nginx_agent_t)

require {
	type system_cronjob_t;
	type nginx_agent_t;
	class dir { getattr search };
	class file { getattr open read };
}

#============= nginx_agent_t ==============
allow nginx_agent_t system_cronjob_t:dir { getattr search };
allow nginx_agent_t system_cronjob_t:file { getattr open read };

require {
	type nginx_agent_t;
}

#============= nginx_agent_t ==============
files_manage_mounttab(nginx_agent_t)

require {
	type nginx_agent_t;
	type httpd_var_run_t;
	class file { open read write };
	class tcp_socket bind;
	class capability net_bind_service;
}

#============= nginx_agent_t ==============
allow nginx_agent_t httpd_var_run_t:file { open read write };
allow nginx_agent_t self:capability net_bind_service;
allow nginx_agent_t self:tcp_socket bind;
apache_manage_config(nginx_agent_t)
apache_signal(nginx_agent_t)
corenet_tcp_bind_generic_node(nginx_agent_t)
corenet_tcp_bind_http_port(nginx_agent_t)
miscfiles_read_certs(nginx_agent_t)
miscfiles_search_generic_cert_dirs(nginx_agent_t)
