policy_module(nginx_agent, 1.0.0)

########################################
#
# Declarations
#

type nginx_agent_t;
type nginx_agent_exec_t;
init_daemon_domain(nginx_agent_t, nginx_agent_exec_t)

permissive nginx_agent_t;

type nginx_agent_log_t;
logging_log_file(nginx_agent_log_t)

type nginx_agent_unit_file_t;
systemd_unit_file(nginx_agent_unit_file_t)

########################################
#
# nginx_agent local policy
#
allow nginx_agent_t self:fifo_file rw_fifo_file_perms;
allow nginx_agent_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(nginx_agent_t, nginx_agent_log_t, nginx_agent_log_t)
manage_files_pattern(nginx_agent_t, nginx_agent_log_t, nginx_agent_log_t)
manage_lnk_files_pattern(nginx_agent_t, nginx_agent_log_t, nginx_agent_log_t)
logging_log_filetrans(nginx_agent_t, nginx_agent_log_t, { dir file lnk_file })

domain_use_interactive_fds(nginx_agent_t)

files_read_etc_files(nginx_agent_t)

miscfiles_read_localization(nginx_agent_t)

domain_read_all_domains_state(nginx_agent_t)

require {
	type bin_t;
	type fs_t;
	type sysctl_net_t;
	type proc_net_t;
	type sysfs_t;
	type var_lib_t;
	type var_run_t;
	type httpd_config_t;
	type httpd_exec_t;
	type httpd_log_t;
	type passwd_file_t;
	type shell_exec_t;
	type http_port_t;
	type node_t;
	type transproxy_port_t;
	type cert_t;
	type httpd_t;
	type httpd_var_run_t;
	type dosfs_t;
	type httpd_cache_t;
	class dir watch;
	type sssd_public_t;
	type sssd_var_lib_t;
	type net_conf_t;
	type fixed_disk_device_t;
}

allow nginx_agent_t bin_t:file { execute execute_no_trans };
allow nginx_agent_t fs_t:filesystem getattr;
allow nginx_agent_t proc_net_t:file { getattr open read };
allow nginx_agent_t proc_t:dir read;
allow nginx_agent_t proc_t:file { getattr open read };
allow nginx_agent_t proc_t:filesystem getattr;
allow nginx_agent_t self:capability sys_ptrace;
allow nginx_agent_t self:netlink_route_socket { bind create getattr nlmsg_read };
allow nginx_agent_t sysctl_net_t:dir search;
allow nginx_agent_t sysctl_net_t:file { open read };
allow nginx_agent_t sysfs_t:dir read;
allow nginx_agent_t sysfs_t:file { getattr open read };
allow nginx_agent_t sysfs_t:lnk_file read;

#!!!! WARNING: 'tmp_t' is a base type.
allow nginx_agent_t tmp_t:file write;

#!!!! WARNING: 'var_lib_t' is a base type.
allow nginx_agent_t var_lib_t:file { getattr open read };

#!!!! WARNING: 'var_run_t' is a base type.
allow nginx_agent_t var_run_t:dir { add_name remove_name write };

#!!!! WARNING: 'var_run_t' is a base type.
allow nginx_agent_t var_run_t:sock_file { create setattr unlink };

#!!!! This avc can be allowed using the boolean 'domain_can_mmap_files'
allow nginx_agent_t bin_t:file map;
allow nginx_agent_t httpd_config_t:dir { getattr open read search };
allow nginx_agent_t httpd_config_t:file { getattr open read };

#!!!! This avc can be allowed using the boolean 'domain_can_mmap_files'
allow nginx_agent_t httpd_exec_t:file map;
allow nginx_agent_t httpd_exec_t:file { execute execute_no_trans getattr open read };
allow nginx_agent_t httpd_log_t:dir search;
allow nginx_agent_t passwd_file_t:file { getattr open read };
allow nginx_agent_t self:capability dac_read_search;

#!!!! This avc can be allowed using the boolean 'domain_can_mmap_files'
allow nginx_agent_t shell_exec_t:file map;
allow nginx_agent_t shell_exec_t:file { execute execute_no_trans };
allow nginx_agent_t tmp_t:dir { add_name write };
allow nginx_agent_t tmp_t:file create;
allow nginx_agent_t http_port_t:tcp_socket name_connect;
allow nginx_agent_t self:tcp_socket { connect create getattr getopt setopt };
allow nginx_agent_t httpd_config_t:lnk_file getattr;
allow nginx_agent_t node_t:tcp_socket node_bind;
allow nginx_agent_t self:tcp_socket { accept bind listen };
allow nginx_agent_t transproxy_port_t:tcp_socket name_bind;

allow nginx_agent_t cert_t:file { getattr open read };
allow nginx_agent_t http_port_t:tcp_socket name_bind;
allow nginx_agent_t httpd_config_t:file write;
allow nginx_agent_t httpd_log_t:file { open read };
allow nginx_agent_t httpd_t:process signal;
allow nginx_agent_t httpd_var_run_t:file { open read write };
allow nginx_agent_t self:capability { dac_override net_bind_service };
allow nginx_agent_t cert_t:dir search;

#!!!! WARNING: 'var_lib_t' is a base type.
allow nginx_agent_t var_lib_t:file write;

allow nginx_agent_t dosfs_t:filesystem getattr;
allow nginx_agent_t httpd_cache_t:dir { getattr search };
allow nginx_agent_t proc_net_t:lnk_file read;
allow nginx_agent_t tmp_t:file open;
allow nginx_agent_t httpd_config_t:dir watch;

apache_list_cache(nginx_agent_t)
apache_manage_config(nginx_agent_t)
fs_getattr_dos_fs(nginx_agent_t)
kernel_read_network_state_symlinks(nginx_agent_t)

allow nginx_agent_t sssd_public_t:dir search;
allow nginx_agent_t sssd_var_lib_t:dir search;
allow nginx_agent_t net_conf_t:file { getattr open read };
allow nginx_agent_t self:udp_socket { connect create getattr setopt };
allow nginx_agent_t fixed_disk_device_t:blk_file getattr;