name: Generate and Sign Assertion Document

on:
  workflow_dispatch:
    inputs:
      packageVersion:
        description: 'Agent version'
        type: string
        required: true
      runId:
        description: 'Run ID of the workflow that built the artifacts'
        type: string
        required: true
      signAssertion:
        description: 'Sign and store the assertion document'
        type: boolean
        required: false
        default: false
  workflow_call:
    inputs:
      packageVersion:
        description: 'Agent version'
        type: string
        required: true
      runId:
        description: 'Run ID of the workflow that built the artifacts'
        type: string
        required: false
      signAssertion:
        description: 'Sign and store the assertion document'
        type: boolean
        required: false
        default: false
    secrets:
      ARTIFACTORY_USER:
        required: true
      ARTIFACTORY_TOKEN:
        required: true
      ARTIFACTORY_URL:
        required: true

permissions:
  contents: read

jobs:
  build-assertion-document:
    name: Create Assertion Document
    runs-on: ubuntu-22.04
    if: ${{ !github.event.pull_request.head.repo.fork }}
    permissions:
      id-token: write
      contents: read
    env:
      GOPROXY: "https://${{ secrets.ARTIFACTORY_USER }}:${{ secrets.ARTIFACTORY_TOKEN }}@${{ secrets.ARTIFACTORY_URL }}"
    strategy:
      matrix:
        osarch: [amd64, arm64]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
          cache: false

      - name: Download nginx-agent binary artifacts
        if: ${{ inputs.runId != '' }}
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # 7.0.0
        with:
          name: nginx-agent-binaries-${{ inputs.packageVersion }}-${{ matrix.osarch }}
          path: binaries
          run-id: ${{ inputs.runId }}
          github-token: ${{ github.token }}

      - name: Gather build dependencies
        id: godeps
        run: |
          ls -la binaries
          echo "agent_digest=$(cat binaries/nginx-agent.sha256)" >> $GITHUB_ENV
          echo "agent_buildstart=$(cat binaries/nginx-agent.buildstart)" >> $GITHUB_ENV
          echo "agent_buildend=$(cat binaries/nginx-agent.buildend)" >> $GITHUB_ENV

          echo "Checking dependencies..."
          go version -m binaries/nginx-agent > goversionm_${{ github.run_id }}_${{ github.run_number }}.txt
          ls -l goversionm_*.txt
          echo "goversionm=$(find -type f -name "goversionm*.txt" | head -n 1)" >> $GITHUB_ENV

      - name: Generate Assertion Document
        id: assertiondoc
        uses: nginxinc/compliance-rules/.github/actions/assertion@0aab935582c35a00e2c671d8fe25b7fdd72a927b # v0.3.1
        with:
          artifact-name: nginx-agent_${{ inputs.packageVersion }}_${{ matrix.osarch }}
          artifact-digest: ${{ env.agent-digest }}
          build-type: 'github'
          builder-id: 'github.com'
          builder-version: '${{env.GO_VERSION}}_test'
          invocation-id: ${{ github.run_id }}.${{ github.run_number }}.${{ github.run_attempt }}
          artifactory-user: ${{ secrets.ARTIFACTORY_USER }}
          artifactory-api-token: ${{ secrets.ARTIFACTORY_TOKEN }}
          artifactory-url: ${{ secrets.ARTIFACTORY_URL }}
          artifactory-repo: 'f5-nginx-go-local-approved-dependency'
          assertion-doc-file: assertion_nginx-agent_${{ inputs.packageVersion }}_${{ matrix.osarch }}.json
          build-content-path: ${{ env.goversionm }}
          started-on: '${{ env.agent_buildstart }}'
          finished-on: '${{ env.agent_buildend }}'

      - name: Sign and Store Assertion Document
        id: sign
        if: ${{ inputs.signAssertion == true }}
        uses: nginxinc/compliance-rules/.github/actions/sign@0aab935582c35a00e2c671d8fe25b7fdd72a927b # v0.3.1
        with:
          assertion-doc: ${{ steps.assertiondoc.outputs.assertion-document-path }}
