
name: Generate and Sign Assertion Document

on:
  workflow_call:
    inputs:
      packageVersion:
        description: 'Agent version'
        type: string
        required: true
    secrets:
      ARTIFACTORY_USER:
        required: true
      ARTIFACTORY_TOKEN:
        required: true
      ARTIFACTORY_URL:
        required: true

jobs:
  build-assertion-document:
    name: Create Assertion Document
    runs-on: ubuntu-22.04
    if: ${{ !github.event.pull_request.head.repo.fork }}
    permissions:
      id-token: write
      contents: read
    env:
      GOPROXY: "https://${{ secrets.ARTIFACTORY_USER }}:${{ secrets.ARTIFACTORY_TOKEN }}@${{ secrets.ARTIFACTORY_URL }}"
    strategy:
      matrix:
        osarch: [amd64, arm64]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: improve-assertion-doc-generation

      - name: Download nginx-agent binaries
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # 6.0.0
        with:
          name: nginx-agent-binaries-${{ inputs.packageVersion }}-${{ matrix.osarch }}
          path: ./artifacts
