
name: Generate and Sign Assertion Document

on:
  workflow_call:
    inputs:
      packageVersion:
          required: true
          type: string
      arm64_sha:
        required: true
        type: string
      amd64_sha:
        required: true
        type: string
    secrets:
      ARTIFACTORY_USER:
        required: true
      ARTIFACTORY_TOKEN:
        required: true

jobs:
  build-assertion-document:
    name: Build and Generate Assertion Document
    runs-on: ubuntu-22.04
    if: ${{ !github.event.pull_request.head.repo.fork }}
    permissions:
      id-token: write
      contents: read
    env:
      GOPROXY: "https://${{ secrets.ARTIFACTORY_USER }}:${{ secrets.ARTIFACTORY_TOKEN }}@${{ secrets.ARTIFACTORY_URL }}"
    strategy:
      matrix:
        osarch: [amd64, arm64]
    steps:
      - name: Download nginx-agent binaries
        uses: actions/download-artifact@v3.0.2
        with:
          name: nginx-agent-binaries-${{ inputs.packageVersion }}
          path: ./artifacts

      - name: Gather build dependencies
        id: godeps
        run: |
          ls -la artifacts/${{ matrix.osarch }}
          echo "agent_digest=$(cat artifacts/${{ matrix.osarch }}/nginx-agent.sha256)" >> $GITHUB_ENV
          echo "agent_buildstart=$(cat artifacts/${{ matrix.osarch }}/nginx-agent.buildstart)" >> $GITHUB_ENV
          echo "agent_buildend=$(cat artifacts/${{ matrix.osarch }}/nginx-agent.buildend)" >> $GITHUB_ENV
      
          echo "Checking dependencies..."
          go version -m build/${{ matrix.osarch }}/nginx-agent > goversionm_${{ github.run_id }}_${{ github.run_number }}.txt
          ls -l goversionm_*.txt
          echo "goversionm=$(find -type f -name "goversionm*.txt" | head -n 1)" >> $GITHUB_ENV

      - name: Generate Assertion Document
        id: assertiondoc
        uses: nginxinc/compliance-rules/.github/actions/assertion@83e452166aaf0ad8f07caf91a4f1f903b3dea1e6 # v0.3.0
        with:
          artifact-name: nginx-agent_${{ github.ref_name }}_${{ matrix.osarch }}
          artifact-digest: ${{ env.agent-digest }}
          build-type: 'github'
          builder-id: 'github.com'
          builder-version: '${{env.GO_VERSION}}_test'
          invocation-id: ${{ github.run_id }}.${{ github.run_number }}.${{ github.run_attempt }}
          artifactory-user: ${{ inputs.ARTIFACTORY_USER }}
          artifactory-api-token: ${{ inputs.ARTIFACTORY_TOKEN }}
          artifactory-url: ${{ secrets.ARTIFACTORY_URL }}
          artifactory-repo: 'f5-nginx-go-local-approved-dependency'
          assertion-doc-file: assertion_nginx-agent_${{ github.ref_name }}_${{matrix.osarch}}.json
          build-content-path: ${{ env.goversionm }}
          started-on: '${{ env.agent_buildstart }}'
          finished-on: '${{ env.agent_buildend }}'

      - name: Sign and Store Assertion Document
        id: sign
        uses: nginxinc/compliance-rules/.github/actions/sign@83e452166aaf0ad8f07caf91a4f1f903b3dea1e6 # v0.3.0
        with:
          assertion-doc: ${{ steps.assertiondoc.outputs.assertion-document-path }}
