name: Mend

on:
  push:
    branches:
      - main
      - release-*
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
    paths-ignore:
      - docs/**
  pull_request:
    branches:
      - main
      - release-*
    paths-ignore:
      - docs/**

concurrency:
  group: ${{ github.ref_name }}-mend
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  mend:
    if: >-
      ${{ 
        (github.event_name == 'pull_request' && !github.event.pull_request.head.repo.fork && !startsWith(github.head_ref, 'dependabot-')) ||
        (github.event_name == 'push' && !github.event.repository.fork)
      }}
    uses: nginxinc/compliance-rules/.github/workflows/mend.yml@aac50b01e486fc4ba559c9150a91471bdcee70df5ad # v0.3.1
    secrets: inherit
    with:
      product_name: nginx-agent-v3_${{ github.ref_name }}
      project_name: nginx-agent-v3
