name: Publish Release packages

on:
  workflow_dispatch:
    inputs:
      pkgRepo:
        description: "Source repository to pull packages from"
        type: string
        default: "packages.nginx.org"
      pkgVersion:
        description: 'Agent version'
        type: string
        default: ""
      uploadAzure:
        description: 'Publish packages to Azure blob storage'
        type: boolean
        default: false
      uploadGithub:
        description: 'Publish packages to GitHub release'
        type: boolean
        default: false

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  vars:
    name: Set workflow variables
    runs-on: ubuntu-22.04
    outputs:
      github_release: ${{steps.vars.outputs.github_release }}
      upload_azure: ${{steps.vars.outputs.upload_azure }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.releaseBranch }}

      - name: Set variables
        id: vars
        run: |
          echo "github_release=${{ inputs.uploadGithub }}" >> $GITHUB_OUTPUT
          echo "upload_azure=${{ inputs.uploadAzure }}" >> $GITHUB_OUTPUT
          cat $GITHUB_OUTPUT

  upload-release-assets:
    name: Upload assets
    runs-on: ubuntu-22.04
    needs: [vars]
    permissions:
      contents: write # Needed for uploading release assets to GitHub
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.releaseBranch }}

      - name: Get Secrets from Azure Key Vault
        uses: ./.github/actions/az-sync
        with:
          az_client_id: ${{ secrets.AZ_KEYVAULT_CLIENT_ID }}
          az_tenant_id: ${{ secrets.AZ_KEYVAULT_TENANT_ID }}
          az_subscription_id: ${{ secrets.AZ_SUBSCRIPTION_ID }}
          keyvault: ${{ secrets.AZ_KEYVAULT_COMMON }}
          secrets-filter: 'nginx-pkg'

      - name: Download Packages
        run:
          |
          echo "Checking Packages in ${{inputs.pkgRepo}}/nginx-agent"
          echo "${{ env.nginx-pkg-certificate }}" > pubtest.crt
          echo "${{ env.nginx-pkg-key }}" > pubtest.key
          
          DL=1 PKG_REPO=${{inputs.pkgRepo}} \
          CERT=pubtest.crt KEY=pubtest.key \
            scripts/packages/package-check.sh ${{inputs.pkgVersion}}

      - name: GitHub Upload
        if: ${{ needs.vars.outputs.github_release == 'true' }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
        # clobber overwrites existing assets of the same name
        run: |
          gh release list
          gh release upload --clobber v${{ inputs.pkgVersion }} \
            $(find ${{inputs.pkgRepo}}/nginx-agent | grep -e "nginx-agent[_-]${{inputs.pkgVersion}}" | grep -v "azure")

      - name: Azure Login
        if: ${{ inputs.uploadAzure == true }}
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Azure Upload
        if: ${{ inputs.uploadAzure == true }}
        uses: azure/CLI@9f7ce6f37c31b777ec6c6b6d1dfe7db79f497956 # v2.2.0
        with:
          inlineScript: |
            echo "Uploading tarball... nginx-agent/release-${{ inputs.pkgVersion }}/nginx-agent.tar.gz"
            az storage blob upload --auth-mode=login \
              -f "${{ inputs.pkgRepo }}/nginx-agent/nginx-agent.tar.gz" \
              -c ${{ secrets.AZURE_CONTAINER_NAME }} \
              --account-name ${{ secrets.AZURE_ACCOUNT_NAME }} \
              --overwrite -n nginx-agent/release-${{ inputs.pkgVersion }}/nginx-agent.tar.gz
            
            echo "Uploading packages..."
            for i in $(find ${{ inputs.pkgRepo }}/nginx-agent | grep -e "nginx-agent[_-]${{ inputs.pkgVersion }}"); do
              dest="nginx-agent/release-${{ inputs.pkgVersion }}/${i##*/}"
              echo "Uploading ${i} to ${dest}"
              az storage blob upload --auth-mode=login -f "$i" -c ${{ secrets.AZURE_CONTAINER_NAME }} \
                --account-name ${{ secrets.AZURE_ACCOUNT_NAME }} --overwrite -n ${dest}
            done

      - name: Azure Logout
        if: ${{ inputs.uploadAzure == true }}
        run: |
          az logout || exit 0
