name: vulncheck.yaml
on:
  push:
    branches:
      - main
      - dev-v2
      - 'release-*'
  schedule:
    - 0 0 * * *
  workflow_dispatch:

jobs:
  vulncheck:
    name: Vulnerability Check
    runs-on: ubuntu-amd64
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version-file: go.mod
          cache: false

      - name: Install govulncheck
        run: go install golang.org/x/vuln/cmd/vulncheck@latest

      - name: Run vulncheck
        run: govulncheck ./...
