name: vulncheck.yaml
on:
  workflow_call:
    inputs:
      go-version-input:
        description: 'Go version to install'
        type: string
        required: false
        default: '1.24.10'
      target-branch:
        description: 'Target branch to run govulncheck against'
        type: string
        required: false
        default: 'main'
  workflow_dispatch:
    inputs:
      go-version-input:
        description: 'Go version to install'
        required: false
        default: '1.24.10'
      target-branch:
        description: 'Target branch to run govulncheck against'
        required: false
        default: 'main'

jobs:
  vulncheck:
    name: Vulnerability Check
    runs-on: ubuntu-22.04
    permissions:
      security-events: write # for reporting vulnerabilities via code-scanning API
    steps:
      - name: Checkout Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
            fetch-depth: 0
            ref: ${{ inputs.targetBranch || 'main' }}

      - name: Check Go version
        id: get-go-version
        run: |
          echo "Reading from go.mod"
          GO_VERSION=$(grep '^go ' go.mod | awk '{print $2}')
          echo "Found $GO_VERSION"
          echo "go-version="$GO_VERSION"" >> $GITHUB_OUTPUT
          

      - name: Run govulncheck
        id: govulncheck
        uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
        with:
          go-version-input: ${{ steps.get-go-version.outputs.go-version }}
