name: vulncheck.yaml
on:
  workflow_call:
    inputs:
      target-branch:
        description: 'Target branch to run govulncheck against'
        type: string
        required: true
        default: 'main'
  workflow_dispatch:
    inputs:
      target-branch:
        description: 'Target branch to run govulncheck against'
        required: true
        default: 'main'

permissions:
  contents: read

jobs:
  vulncheck:
    name: Vulnerability Check
    runs-on: ubuntu-22.04
    permissions:
      security-events: write # for reporting vulnerabilities via code-scanning API
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          fetch-depth: 0
          # For a pull_request event use the PR head branch (github.head_ref)
          # to this ensures vulncheck runs against the feature branch.
          # Otherwise, fall back to inputs.target-branch, github.ref_name, then 'main'.
          ref: ${{ (github.event_name == 'pull_request' && github.head_ref) || inputs.target-branch || github.ref_name || 'main' }}

      - name: Check Go version
        id: get-go-version
        run: |
          echo "Reading from go.mod"
          GO_VERSION=$(grep -E "^toolchain " go.mod | awk -F' ' '{print $2}' | tr -d 'go')
          echo "Found $GO_VERSION"
          echo "go-version="$GO_VERSION"" >> $GITHUB_OUTPUT

      - name: Run govulncheck
        id: govulncheck
        uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
        with:
          go-version-input: ${{ steps.get-go-version.outputs.go-version }}
